/* .reg{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */


table td{
  width: 200px;
  height: 30px;
  background-color: blue;
  text-align: center;
  color: white;
}

table td button{
  padding: 5px 10px;
  border-radius: 5%;
  cursor: pointer;
}

table td button.edit{
  border: 1px solid green;
  background-color: greenyellow;
  color: white;
}

table td button.edit:hover{
  border: 1px solid greenyellow;
  background-color: green;
  color: white;
}

table td button.delete{
  border: 1px solid red;
  background-color: rgb(209, 15, 15);
  color: white;
}

table td button.delete:hover{
  border: 1px solid rgb(136, 0, 255);
  background-color: rgb(15, 151, 209);
  color: white;
}

.addForm{
  margin-bottom: 30px;
}

.addForm input{
  width: 200px;
  height: 30px;
}

.addForm button{
  width: 135px;
  color: white;
  background-color: greenyellow;
}

.addForm button:hover{
  background-color: green;
}

